@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/* Primero hago los estilos para mobile acá*/
html {
    overflow-y: scroll;
    
}

body {
    box-sizing: border-box;   
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


#titulo {
    text-align: center;
}

/*HEADER*/
header {
    background-color: white;
}

.arriba {
    display: flex;
    align-items: center;
    width: auto;
}

.logo img {
    width: 100px;
    height: auto;
    padding-left: 5%;
}

.logo {
    overflow: hidden;
    
}

.marca {
    padding-left: 8px;
    margin-top: 0;
    padding-bottom: 15px;
}

.marca #titulo {
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 4.5vh;
    font-weight: 700;
    text-align: left;
}

.marca #slogan {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 2.7vh;
}

.marca p {
    color: #1E480D;
}

.encabezado {
    display: flex;
    flex-wrap: wrap;
}

.iconos {
    width: 100%;
}


.barra ul li {
    display: inline;
    padding-right: 15px;
    text-decoration: none;
}

.iconos {
    text-align: center;
}

.iconos img {
    height: 20px;
}

/*pasarlo arriba cuando todo el menú tenga a*/
.barra ul li a {
    text-decoration: none;
}

/*HERO*/

.hero img {
    width: 100%;
    height: auto;
}

/*SLOGAN*/

.slogan {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 330px;   
    justify-content: center;
    padding-bottom: 20px;
    overflow: hidden;
}

.slogan h1{
    font-size: 5vh;
    padding-top: 10px;
}

.slogan p {
    font-size: 16px;
    padding-top: 0;
    margin-top: 0;
}

/*DIV PROYECTOS*/

.proyectos {
    display: flex;
    flex-direction: column;
    background-color: #1E480D;
    text-align: center;
    min-height: 220px;
    justify-content: center;
    align-items: center;
}

.proyectos h2,
.proyectos p {
    color: white;
}

#encanto {
    font-style: italic;
}


/*PROYECTOS INDIVIDUALES*/
.proyecto {
    padding-top: 20px;
    position: relative;
    display: block;
}

.proyecto img {
    width: 100%;
    height: auto;
}

.proyecto_texto h3 {
    position: absolute;
    text-align: center;
    max-width: 100%;
    bottom: 20%;
    color: #fff;
    font-weight:bold;
    font-size: 16px;
    display: block;
    background-color: black;
    /*Ah ok, in that case you don't want to text-align:center; (which occurs within the element) 
    you want to center the element itself. Firstly go back to max-width to get the black
     background the right size again.Then add margin-left:50%; which will move it left halfway 
     across the screen, and transform:translateX(-50%); which pulls it back by half its own 
     width, so it ends up centered.*/
    margin-left:50%;
    transform:translateX(-50%);
}



.proyecto_texto button {
    -moz-box-shadow: inset 0px 1px 0px 0px #cf866c;
    -webkit-box-shadow: inset 0px 1px 0px 0px #cf866c;
    box-shadow: inset 0px 1px 0px 0px #cf866c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background: -moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: -ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315', GradientType=0);
    background-color: #d0451b;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #942911;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    font-weight:900;
    text-shadow: 0px 1px 0px #854629;
    position: absolute;
    width: 40%;
    min-height: 30px;
    bottom: 10%;
    margin-left:50%;
    transform:translateX(-50%);
    /*
    position: absolute;
    width: 40%;
    bottom: 10%;
    background-color: #C83E24;
    border-radius: 5%;
    font-size: 16px;
    font-weight:900;
    min-height: 30px;
    margin-left:50%;
    transform:translateX(-50%);
    */
}

.proyecto_texto button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background: -moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: -ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b', GradientType=0);
    background-color: #bc3315;
}


/* PÁGINAS DE LOS PROYECTOS*/

.texto-proyecto-individual {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    width: 93%;
}

.texto-proyecto-individual h2, h3 {
    text-align: center;
}

.texto-proyecto-individual ul {
    text-align:left;
}

.mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mapa iframe {
    width: auto;
    height: 300px;
}

.video-proyecto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-proyecto iframe {
    width: 93%;
    height: 300px;
}

table {
    width: 95%;
    font-size: 13px; 
    margin: auto;
}

th, td {
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}



/*FOOTER*/

footer {
    background-color: #FCFCF4;
    text-align: center;
    padding-top: 20px;
}

footer img {

    padding-top: 40px;
    width: 35px;
}


/*-------------------PÁGINA "MARCO LEGAL"---------------------------------------------*/

.texto {
    padding: 25px;
    background-color: #FCFCF4;
}

.texto h3 {
    text-align: center;
}

.texto_2 {
    padding-top: 30px;
}


/*VIDEO*/

.video {
    text-align: center;
}

.video iframe {
    max-width: 90%;
}

/*----------3 breakpoints, 2 media queries---------------------------*/

/* para tablets*/
@media (min-width: 576px) {

    .encabezado {
        display: flex;
        flex-direction: row-reverse;
    }

    /*tengo que estudiar qué hace esto*/
    .iconos,
    .barra {
        flex: 1;       
    }

    .iconos {
        padding-top: 20px;
        padding-right: 15px;
        text-align: end;
    }

    .slogan h2{
        font-size: 50px;
    }

    .logo img {
        padding-left: 10%;
    }
    .proyecto_texto h3 {
        font-size: 30px;
    }

    .proyecto_texto button {
        width: 20%;
        min-height: 50px;
    }
  
    .slogan p {
        font-size: 25px;
    }

    .mapa iframe {
        padding-top: 15px;
        width: 50%;
        height: 500px;
    }

    .video-proyecto iframe {
        padding-top: 15px;
        width: 50%;
        height: 500px;
    }

    table {
        width: 50%;
        font-size: 16px;  
        margin: auto;
        text-align: center;
    }

    th, td {
        text-align: center;
    }

    
    
}


/*para desktop*/
@media (min-width: 992px) {}